.form-control {
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $h5-font-size;
    line-height: 1.5;
    &:not([class*="rounded-"]) {
        border-radius: 0.313rem;
    }
    &, &:focus {
        box-shadow:none;
        color: $dark;
        border-color: $gray-400;
    }
    &:focus {
        border-color: $gray-600;
    }

    // different size variant
    &.form-control-sm {
        padding: $input-padding-y-sm $input-padding-x-sm;
        height: 1.9rem;
        min-height: 0;
        font-size: 0.75rem;
    }

    @include media-breakpoint-up(lg) {
        &.form-control-lg{
            font-size: 0.938rem;
            padding: $input-padding-y-lg $input-padding-x-lg;
            min-height: 0;
        }
    }
}

.form-check-inline {
    display: inline-flex;
    margin: 0;
}
.form-check-input {
    width: 0.875rem;
    min-width: 0.875rem;
    height: 0.875rem;
    &:focus {
        box-shadow: none;
    }
    &.round-check{
        &[type="checkbox"] {
            @include border-radius($form-check-radio-border-radius);
        }
    }
}
.form-check-label {
    font-weight: $font-weight-normal;
    margin-left: .5rem;
}

.form-text {
    display: block;
    font-size: $font-size-base;
    margin: 0.563rem 0 0 0.938rem;
}

.search-bar {
    .form-control {
        width: 280px;
        transition: width .2s ease-in-out;

        @include media-breakpoint-down(sm) {
            width: 120px;

            &:focus {
                width: 150px;
            }
        }
    }
}

.input-group {
    .form-control:focus {
        border-color: $input-border-color;

        & + .input-group-text {
            border-color: $input-border-color; 
        }
    }
}

.input-group-text:not([class^="rounded"]) {
    border-radius: $border-radius-md;
}

.focused {
    .form-control {
        border-color: $input-focus-border-color;
        background-color: $input-focus-bg;
    }
}

.form-switch {
    padding-left: $form-switch-padding-start;
  
    .form-check-input, & .form-check-input:focus {
        width: 2.125rem;
        height: 1.125rem;
        background-image: url("../../../assets/media/switch-handle.svg"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.7' fill='%23FFAB46'/%3e%3c/svg%3e");
        background-color: $yellow-alt;
        border-color: $yellow-alt-3;
        background-size: 6px 8px, contain;
        background-position: 19% 50%,left;
        &:checked {
            background-image: url("../../../assets/media/switch-handle.svg"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.7' fill='%2339AD5A'/%3e%3c/svg%3e");
            background-color: $green-alt;
            border-color: $green-alt-2;
            background-size: 6px 8px, contain;
            background-position: 82% 50%,right;
        }
    }
}

// Select

.form-select {
    color: $dark;
    font-size: $h5-font-size;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $input-padding-y-lg $input-padding-x-lg;
    border-color: $gray-alt;
    box-shadow: none;
    &:focus,&:active {
        border-color: $gray-alt;
        box-shadow: none;
    }
    .form-select-lg {
        padding: $form-select-padding-y calc($form-select-padding-x + $form-select-indicator-padding) $form-select-padding-y $form-select-padding-x;
    }
    // filterable custom select
    & + .custom-select {
        background-color: $white; 
        width: 100%;
        border-radius: 5px; 
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        margin-top: -0.5rem; 
        padding: 1.25rem;
        position: absolute; 
        z-index: 2;
    }
    .xpri-caret {
        transform: rotate(90deg);
    }
}

// React Select

.clear-indicator {
    background: #c4c4c4;
    color: $white;    
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0.438rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    &:hover {
        background: $dark;
    }
}

// divider

.vr { 
    height: 1.188rem;
    align-self:center;
}

hr {
    opacity: 0.2;
}

//Add File Alternative Style

.file-field input[type="file"] {
    max-width: 230px;
    position: absolute;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    padding-bottom: 30px;
}
.file-field span {
    cursor: pointer;
}

.datepicker-dropdown {
    z-index: 9999;
}


//
// Form Labels
//

.form-label {
    font-size: $h6-font-size;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}


//
// Form Range
// 

input[type=range] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 165px;
    height: 6px;
    background: #e1e1e1;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-size: 70% 100%;
    background-repeat: no-repeat;
    // initial value (0.5), min (0), max (1)
    //background-size: calc((0.5 - 0) * 100 / (1 - 0)) + '% 100%';
    background-size: 50% 100%;
    border: 0;
    &::-moz-focus-outer {
        border: 0;
    }
    &:focus {
        outline:none;
    }
}


//
// Alert (import alert from bootstrap if needed)
//

.alert {
    border-radius: 0;
    border: 0;
    padding: .75rem 1rem;
}

.alert-primary {
  color: $primary;
  background-color: $blue-alt-2;
}


//
// Tags
// 

.tags {
    .form-control-plaintext {
        padding: 0;
        outline: none;
    }
    .btn {
        margin-right: .75rem; 
        margin-bottom: .75rem;
    }
}
  
/* Input Thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    border: 0;
    &:focus,&:active {
        outline: none;
        box-shadow: none;
    }
}
  
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
  
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #6390e9;
}
  
input[type=range]::-moz-range-thumb:hover {
    background: #6390e9;
}
  
input[type=range]::-ms-thumb:hover {
    background: #6390e9;
}
  
/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
  
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
  
input[type=range]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

// Spinners 

//
// Rotating border
//

// scss-docs-start spinner-border-keyframes
@keyframes spinner-border {
    to { transform: rotate(360deg) #{"/* rtl:ignore */"}; }
}
// scss-docs-end spinner-border-keyframes
  
.spinner-border {
    display: inline-block;
    min-width: $spinner-width;
    min-height: $spinner-height;
    vertical-align: $spinner-vertical-align;
    border: $spinner-border-width solid currentColor;
    border-right-color: transparent;
    // stylelint-disable-next-line property-disallowed-list
    border-radius: 50%;
    animation: $spinner-animation-speed linear infinite spinner-border;
}

.spinner-border-sm {
    min-width: $spinner-width-sm;
    min-height: $spinner-height-sm;
    border-width: $spinner-border-width-sm;
}

//
// Content Update Form
//

.form-content-update {
    // Cropper
    .cropper-view-box { 
        outline:2px dashed $red-alt; 
    }
    .cropper-point { 
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    .cropper-point.point-se {
        opacity: 0;
    }
    .cropper-modal {
        background-color: $gray-alt;
        opacity: 0.7;
    }

    // form range
    .form-range {
        width: 165px;
    }

    // media wrapper
    .media-wrapper {
        border: 0.063rem solid $gray-400;
        border-radius: 0.313rem;
        overflow: hidden;
        .image-container { 
            position: relative;
            min-height: 18.75rem;
            .image-preview {
                position: absolute;
                z-index: 2;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity .5s ease;
            }
            .spinner-border {
                position: absolute;
                z-index: 1;
            }
        }
        > div {
            background-color: $gray-alt;
            padding-top: 0.125rem;
        }
        .card-footer {
            background: $white;
            padding: 0.85rem 1rem;
        }
    }
}



//
// Date and time picker
//

.rdt {
    .input-group {
        border: 0;
        padding:0;
        .form-control {
            padding: $input-padding-y-lg $input-padding-x-lg;
            border: 1px solid $gray-400;
            border-right: 0;
            border-radius: $border-radius-md;
            
            // small variant
            &.form-control-sm {
                padding: $input-padding-y-sm $input-padding-x-sm;
                height: 1.9rem;
                min-height: 0;
                font-size: 0.75rem;
                & + .input-group-text {
                    padding: 0.2rem 0.5rem;
                    color: $dark;
                    margin-left: 0 !important;
                }
            }
        }
    }
    // time picker
    &.time-picker {
        .input-group .form-control.form-control-sm {
            padding: $input-padding-y-sm;
            & + .input-group-text { 
                margin-left: -0.0625rem !important;
            }
        }
    }
}



//
// Card
//

.card-group {
    display: block;
    .card {
        border: 1px solid $gray-300;

        + .card {
            border-left: 1px solid $gray-300;
        }
        .form-label {
            /*color: $grape;*/
            margin:.5rem 0rem;
        }
        .form-control {
            border: 0;
            border-bottom: 0.5px solid $gray-600;
            border-radius: 0;
            padding:0 0 0.625rem;
            background: transparent;
            font-size: $font-size-base;
        }
        textarea.form-control {
            line-height: 1.25;
            resize: none;
            height: 55px;
            border: 0;
            padding: 0;
        }
        .textarea-form-control {
            border-bottom: 0.5px solid $gray-600;
            padding:0 0 1.25rem;
        }
    }
}

.card {
    + .card { 
        margin-top: 0.625rem;
    }
    .btn-cherry {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1;
        align-items: center;
        display: flex;
        justify-content: center;
        border: 0;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
    }
}