/**
 * = Backgrounds
*/

.form-bg-image {
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

.bg-cover {
    background: cover;
}

.bg-contain {
    background: contain;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

// Aspect ratio overrides

.ratio-1x1 { 
    aspect-ratio: 1/1;
}
.ratio-4x3 { 
    aspect-ratio: 1/1;
}
.ratio-16x9 { 
    aspect-ratio: 1/1;
}

// custom background

.bg-gradient-blue-black-purple { 
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(112.88deg, #1E57B9 6.03%, #181819 45%,#5B2B87 80.91%);
    background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}
